@charset "utf-8";
/* CSS Document */

/*底部*/
.bottom{ background-color:rgb(240 250 240);/*灰白色*/
	width:100%;
	height:80px;
	margin-top:30px;
	font-size:24px;
	float:left;
	}
.bottom p{
	font-size:18px;
	padding:30px;}